{% for reply in loaded_replies %}
<div class="reply d-flex mb-4 ml-4 reply-box-for-{{comment_id}}">
    <div class="flex-shrink-0">
        <div class="avatar avatar-sm rounded-circle">
            <img class="avatar-img" src="{{reply.replier.profile_picture.url}}" alt="replier_profile_pic">
        </div>
    </div>
    <div class="flex-grow-1 ms-2 ms-sm-3">
        <div class="comment-meta d-flex align-items-baseline">
            <h6 class="ml-2 mt-2">{{reply.replier.username}}</h6>
        </div>
        <span class="text-muted"><small>{{reply.replied_at|timesince}}</small></span>
        <div class="comment-text py-3">
            {{ reply.content|safe|linebreaksbr }}
        </div>
        <div class="d-flex flex-row align-items-center voting-icons mt-1">
            <!-- REPLY LIKES START -->
            {% if user in reply.likes.all %}
                <span id="{{reply.id}}_reply_like_button" onclick="reply_liked(this)" class="reply_liked" data-replyid="{{reply.pk}}" data-replylikeurl="{% url 'posts:reply_like' %}">
                    <i class="fa fa-37x fa-thumbs-up " aria-hidden="true" ></i>
                </span>
            {% else %}
                <span id="{{reply.id}}_reply_like_button" onclick="reply_liked(this)" data-replyid="{{reply.pk}}" data-replylikeurl="{% url 'posts:reply_like' %}">
                    <i class="fa fa-37x fa-thumbs-o-up " aria-hidden="true" ></i>
                </span>
            {% endif %}
            <span class="ml-2" id="reply_like_count_for_{{reply.id}}">
                {{ reply.likes.count }}
            </span>
            <!-- REPLY LIKES END -->
            <span class="dot ml-2"></span>
            <!-- REPLY DISLIKES START -->
            {% if user in reply.dislikes.all %}
                <span id="{{reply.id}}_reply_dislike_button" onclick="reply_liked(this)" class="ml-2 reply_disliked" data-replyid="{{reply.pk}}" data-replylikeurl="{% url 'posts:reply_dislike' %}"">
                    <i class="fa fa-37x fa-thumbs-down " aria-hidden="true" ></i>
                </span>
            {% else %}
                <span id="{{reply.id}}_reply_dislike_button" onclick="reply_liked(this)" class="ml-2" data-replyid="{{reply.pk}}" data-replylikeurl="{% url 'posts:reply_dislike' %}">
                    <i class="fa fa-37x fa-thumbs-o-down " aria-hidden="true" ></i>
                </span>
            {% endif %}
            <span class="ml-2" id="reply_dislike_count_for_{{reply.id}}">
                {{ reply.dislikes.count }}
            </span>
            <!-- REPLY DISLIKES END -->
        </div>
    </div>
</div>
{% endfor %}