{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="section" id="filteredProducts">
        {% for post in data %}
        <li>
            <div class="post-box">
                <a href="{% url 'posts:post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a>
            </div>
        </li>
        {% endfor %}
    </div>
    <button class="btn btn-primary" id="loadMore" data-total="{{total_data}}" data-limit="3">Load More<i class="fa fa-sync load-more-icon"></i></button>
</div>



<script type="text/javascript" src="{% static 'blog/mediumish/js/custom.js' %}"></script>
{% endblock %}